{
    padding: 0;
    margin: 0;
    box-sizing;
    font-family: sans-serif;
}

section{
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    min-height: 100vh;
    transition: .1s;
    padding: 50px;
    background-image: url(bg3.jpg);
    background-size:cover;
    background-position:center;
    animation: slide 10s infinite;
}

@keyframes slide{
    25%{
        background-image: url(bg3.jpg);
    }
    50%{
        background-image: url(bg2.jpg);
    }
    75%{
        background-image: url(bg4.jpg);
    }
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    position: fixed;
    z-index: 100;
    top: 15px;left: 0;
    right: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;padding: 0 70px 0 70px;
    padding: 0 70px 0 70px;
}

header .logo{
    position: relative;
    max-width: 210px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style-type: style none;
}

header ul li a{
    display: inline-block;
    margin-right: 60px;
    color: white;
    text-transform: none;
    font-size: 20px;
    text-decoration: none;
}

header ul li a:hover{
    color: red;
}

.content{
    position: relative;
    margin-top: 25px;
    margin-left: 30px;
    display: flex;
    width: 97px;
    justify-content: space-between;
    align-items: center;
}

.content .text-area h4{
    text-transform:uppercase;
    font-size: 15px;
    margin-top: 12px;
    margin-bottom: 3px;
    color:red;
    font-weight:bold;
    letter-spacing: 10px;
}

.content .text-area h1{
    text-transform: uppercase;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-stretch:wider;
    margin-bottom: 6px;
    color:white;
    font-weight: bolder;
    letter-spacing: 18px;
}

.content .text-area .one{
    text-transform: none;
    font-size: 15px;
    margin-bottom: 20px;
    color: white;
    font-weight: bolder;
    letter-spacing: 1px;
}

.content .text-area .two{
    text-transform: none;
    font-size: 17px;
    margin-bottom: 40px;
    width: 200%;
    color:white;
    font-weight: bolder;
    letter-spacing: 1px;
}

.content .text-area .three{
    text-transform: none;
    font-size: 20px;
    margin-bottom: 40px;
    top: 15px;left: 0;
    right: 0;
    width: 200%;
    color:white;
    font-weight: bolder;
    letter-spacing: 1px;
}
.content .text-area a{
    display: inline-block;
    padding: 17px 28px;
    text-transform: uppercase;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 1px;
    background-color: #bf0000;
    text-decoration: none;
}

.content .text-area .btn:hover{
    background-color: #a22d2d;
    color: white;
}